/* The following is a universal selector that applies to the whole file.  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed from .header to header */
/* The 3 items below style the "Horiseon" on the top left of the page.  */
header {   
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* changed from .header to header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changed from .header to header */
header h1 .seo {
    color: #d9dcd6;
}
/* removed "header div", added "nav" { */
/* The nav bar and following two details below it are for website navigation and the links on the top right
point to different places on the web page */    
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* changed from .header div ul to header ul{ */
header ul {
    list-style-type: none;
}

/* changed from .header div ul li to header ul li { */
header ul li {
    display: inline-block;
    margin-left: 25px;
}
/* The following two itmes style everything with an "a" tag and "p" tag, respectively */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* The hero selector refers to the large picture on the top half of the page and
the styling associated with it.  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* The following 3 selectors apply style to the three horizontal boxes of
content on the bottom half of the web page. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* The following     */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The following X selectors style the vertical "box" on the right
side of the web page.  */
/* combined .benefit-lead, -brand, -cost CSS
.benefit-lead,
.benefit-brand,
.benfit-cost */

.benefit
            {
    margin-bottom: 32px;
    color: #ffffff;
}

/* combined .benefit-lead, -brand, -cost h3 CSS */

h3            {
margin-bottom: 10px;
text-align: center;
}

/* combined .benefit-lead, -brand, -cost img CSS 
.benefit-lead img,
.benefit-brand img,
.benefit-cost img */
.benefit img
        {
    display: block;
    margin: 10px auto;
    max-width: 150px;   
}

/*Combined 
.search engine-optimization,
.online-reputation-management,
.social-media-marketing CSS */

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
                        {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Combined 
.search-engine-management,
.online-reputation-management,
.social-media-marketing "imgs" CSS */

.content img
        {
    max-height: 200px;
}

/*Combined 
.search-engine-management h2,
.online-reputation-management h2,
.social-media-marketing h2 CSS */
 .content h2          {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed .footer to footer as related to html change from <div> to <footer>*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}