/* The following "*" is a universal selector that applies some basic styling to the  width and height properties of the borders on the page. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The following selecor styles the background color of the "body" section of the page. */
body {
    background-color: #d9dcd6;
}

/* I changed the selector from .header to header to reflect changes in the html after I switched from <div> to <section>.*/
/* The 3 items below style the Horiseon "portion" on the top left of the web page. */
/* The font family refers to the font stule preference prioritized in order from left to right */
/* and provides some fall backs in case some browsers don't have the preferred fonts.*/
header {   
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* I changed from .header to header. */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* I changed from .header to header. */
header h1 .seo {
    color: #d9dcd6;
}


/* I removed <div> element and switched to a <nav> which means navigation bar which is where the 
website navigation and links on the top right point to different places on the web page. { */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* To be more semantically meaningful, I changed the following two selectors from the */ 
/* <div>-related .header div ul and li to to the header ul and ul li which means unordered list and list */
/* respectively, i.e. the different links on the top right.{ */
header ul {
    list-style-type: none;
}


header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This following two selectors style any <a> or <p> elements throughout the page. */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* The .hero selector refers to the large image on the top of half of the page */
/* determines the associated styling. I updated .css linkto github pages repository address*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://stevedev75.github.io/horiseon-services/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The following 3 selectors apply style and horizontal direction to the three boxes of content
that cover most of the bottom half of the web page. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}



/*I stacked .benefit-lead, -brand, -cost CSS that contribute
 style to the three items on the right vertical box on page. */

.benefit-lead,
.benefit-brand, 
.benfit-cost 
    {
    margin-bottom: 32px;
    color: #ffffff;
}

/* combined .benefit-lead, -brand, -cost h3 CSS */

h3            {
margin-bottom: 10px;
text-align: center;
}

/* combined .benefit-lead, -brand, -cost img CSS */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img 
        {
    display: block;
    margin: 10px auto;
    max-width: 150px;   
}

/* I stacked .search-engine-optimization,.online-reputation-management,.social-media-marketing CSS
to reduce some redundancy in the css. */

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
                        {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* I stacked .search-engine-optimization,.online-reputation-management,.social-media-marketing imgs in CSS
to reduce some redundancy in the css. */

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img
        {
    max-height: 200px;
}

/*I stacked .search-engine-management h2, .online-reputation-management h2, and .social-media-marketing h2 to
reduce some redundancy on the cSS.*/

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 
           {
    margin-bottom: 20px;
    font-size: 36px;
}

/* I changed .footer to footer as related to html change from <div> to <footer>*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}